<!-- Footer -->
<footer class="text-center text-lg-start mt-5">
  <div class="container p-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="/" class="nav-link px-3 text-muted">Home</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link px-3 text-muted">About Us</a>
      </li>
      <li class="nav-item">
        <a href="/contact" class="nav-link px-3 text-muted">Contact Us</a>
      </li>
    </ul>
    <!-- Copyright -->
    <p class="text-center text-muted mb-0">© 2025 UnbiasMe, Inc</p>
  </div>
</footer>
