<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <a href="/" class="logo">UnbiasMe</a>
        <div class="hamburger" id="hamburger">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="80"
            height="80"
            viewBox="0 0 200 200"
          >
            <g stroke-width="6.5" stroke-linecap="round">
              <path
                d="M72 82.286h28.75"
                fill="#009100"
                fill-rule="evenodd"
                stroke="#000"
              />
              <path
                d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554"
                fill="none"
                stroke="#000"
              />
              <path
                d="M72 125.143h28.75"
                fill="#009100"
                fill-rule="evenodd"
                stroke="#000"
              />
              <path
                d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554"
                fill="none"
                stroke="#000"
              />
              <path
                d="M100.75 82.286h28.75"
                fill="#009100"
                fill-rule="evenodd"
                stroke="#000"
              />
              <path
                d="M100.75 125.143h28.75"
                fill="#009100"
                fill-rule="evenodd"
                stroke="#000"
              />
            </g>
          </svg>
        </div>
        <div class="nav-link" id="nav-links">
          <a href="/" class="hover-underline-animations left">Home</a>
          <a href="/about" class="hover-underline-animations left">About Us</a>
          <a href="/contact" class="hover-underline-animations left"
            >Contact Us</a
          >
          <% if (isLoggedIn) { %>
          <li class="nav-item">
            <a class="hover-underline-animations left" href="/dashboard"
              >Dashboard</a
            >
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="hover-underline-animations left" href="/login">Login</a>
          </li>
          <% } %>
        </div>
      </nav>
    </header>
    <script src="/js/navbar.js"></script>
  </body>
</html>
