* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  position: relative;
  z-index: 2;
}
.logo {
  font-size: 2rem;
  color: #2f3e9e;
  text-decoration: none;
  font-weight: bold;
}
.logo:hover {
  color: #3545b0;
}
.nav-link a {
  color: #2f3e9e;
}
.nav-link a:hover {
  color: #2f3e9e;
}
.hamburger {
  cursor: pointer;
  z-index: 1001;
}
.hamburger svg {
  transition: transform 0.4s ease;
}
.hamburger.active svg {
  transform: rotate(90deg);
}
.hamburger path {
  transition: transform 0.4s ease, stroke-dasharray 0.4s ease,
    stroke-dashoffset 0.4s ease;
}
.hamburger path:nth-child(1) {
  transform-origin: 36% 40%;
}
.hamburger path:nth-child(2) {
  stroke-dasharray: 29 299;
}
.hamburger path:nth-child(3) {
  transform-origin: 35% 63%;
}
.hamburger path:nth-child(4) {
  stroke-dasharray: 29 299;
}
.hamburger path:nth-child(5) {
  transform-origin: 61% 52%;
}
.hamburger path:nth-child(6) {
  transform-origin: 62% 52%;
}
.hamburger.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.hamburger.active path:nth-child(2),
.hamburger.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.hamburger.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.hamburger.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.hamburger.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.nav-link {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease;
}
.hover-underline-animations {
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #f67280;
}
.nav-link.show {
  display: flex;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .nav-link {
    display: flex !important;
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    background: none;
    justify-content: flex-end;
  }
  .nav-link a {
    font-size: 1.5rem;
    padding: 10px 15px;
    width: auto;
  }
}
.hover-underline-animations {
  display: inline-block;
  position: relative;
}

.hover-underline-animations::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 0;
  background-color: #f67280;
  transition: transform 0.25s ease-out;
}

.hover-underline-animations:hover::after {
  transform: scaleX(1);
}

.hover-underline-animations.left::after {
  transform-origin: bottom right;
}

.hover-underline-animations.left:hover::after {
  transform-origin: bottom left;
}
