html,
body {
  height: 100%;
  margin: 0;
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.center-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.verification-box {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.icon {
  font-size: 60px;
  color: green;
}
.fail-icon {
  color: red;
}
